## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:
sample_list_1=(random.sample(range(100),80))
print(sample_list_1)

[90, 67, 41, 62, 92, 66, 24, 1, 73, 95, 59, 28, 19, 70, 76, 18, 81, 17, 14, 69, 29, 96, 85, 10, 30, 37, 46, 91, 27, 57, 3, 83, 13, 12, 82, 94, 97, 51, 72, 5, 2, 48, 25, 80, 54, 52, 7, 78, 22, 15, 9, 23, 68, 89, 20, 33, 79, 38, 65, 93, 99, 86, 61, 34, 74, 63, 35, 56, 44, 31, 0, 75, 53, 26, 45, 16, 47, 87, 60, 88]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [115]:
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 41, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [44]:
import random
 
sample_list_2=[]
n=80
for i in range(n):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[7, 10, 37, 56, 74, 52, 53, 73, 35, 94, 74, 30, 14, 83, 12, 96, 12, 5, 11, 86, 69, 11, 24, 4, 79, 10, 97, 88, 68, 32, 79, 93, 84, 39, 10, 53, 29, 91, 60, 86, 5, 77, 34, 27, 5, 63, 46, 47, 23, 27, 7, 34, 95, 80, 63, 79, 10, 97, 78, 69, 67, 30, 35, 54, 26, 33, 10, 65, 86, 85, 78, 25, 23, 28, 48, 25, 41, 61, 10, 48]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
set2 = set(sample_list_2)
print(set2)

print(len(set2))

print("No, the length is not 80 anymore because a set doesn't have duplicates")

{4, 5, 7, 10, 11, 12, 14, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 39, 41, 46, 47, 48, 52, 53, 54, 56, 60, 61, 63, 65, 67, 68, 69, 73, 74, 77, 78, 79, 80, 83, 84, 85, 86, 88, 91, 93, 94, 95, 96, 97}
53
No, the length is not 80 anymore because a set doesn't have duplicates

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [53]:
set3=(set1.difference(set2))
print(set3)

{0, 1, 2, 3, 9, 13, 15, 16, 17, 18, 19, 20, 22, 31, 38, 44, 45, 51, 57, 59, 62, 66, 70, 72, 75, 76, 81, 82, 87, 89, 90, 92, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [54]:
set4=(set2.difference(set1))
print(set4)

{32, 4, 39, 11, 77, 84}

In [ ]:
# Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [55]:
set5=(set1.intersection(set2))
print(set5)

{5, 7, 10, 12, 14, 23, 24, 25, 26, 27, 28, 29, 30, 33, 34, 35, 37, 41, 46, 47, 48, 52, 53, 54, 56, 60, 61, 63, 65, 67, 68, 69, 73, 74, 78, 79, 80, 83, 85, 86, 88, 91, 93, 94, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [117]:
len(set1) # 80 unique random values
len(set2) # 53 unique random values
len(set3) # Elements present in set1 but not in set2
len(set4) # Elements present in set2 but not in set1
len(set5) # Elements present in set1 and set2
len(set1) == len(set2) + len(set3) - len(set4)

True

#### Create an empty set called `set6`.

In [80]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [83]:
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [84]:
len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [88]:
set1.issuperset(set2)

False

In [89]:
set1.issuperset(set3)

True

In [ ]:
#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [98]:
Aggregate_set1 = set4.union(set6)
print(Aggregate_set1)

Aggregate_set2 = set1.union(set2)
print(Aggregate_set2)

{0, 1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [99]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [118]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = set1 - set(list_to_remove)
print(set1)

{0, 2, 3, 5, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 37, 38, 44, 45, 46, 47, 48, 52, 53, 54, 56, 57, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97}